@import '../../../00-Utilities/colors/color-names';
@import '../../../00-Utilities/bootstrap/bootstrap-custom/bootstrap-variables-custom';

.link-dark {
  color: $color--petrol;
  transition: .12s;

  &:hover, &:focus {
    text-decoration: none;
  }
}

.component-title {
  text-transform: uppercase;
  font-size: 1.0625em;
  color: inherit;
  font-weight: normal;
  line-height: 1.2;
}

.teaser-title {
  display: block;
  font-size: $font-size-base * 1.0625;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.35;
  letter-spacing: $headings-letter-spacing;
}

@element ".teaser"  and (min-width: #{$screen-md}) {
  .teaser .teaser-title {
    font-size: 22px;
  }
}
