//All JS and CSS are global scope!
@import '../../../00-Utilities/colors/color-names';
@import '../../../00-Utilities/bootstrap/bootstrap-custom/bootstrap-variables-custom';

//Placholders
%flex-row {
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.navigation-top {
	//Variables
	$navigationWidth: $screen-lg;
	$item-padding-hor: 1.5em;
	$item-padding-vert: 1em;
	$mainZindex: 100;
	$bgMaskColor: rgba(0,0,0,0.5);

	//Submenu
	$submenuLinkColor: white;
	$submenuLinkHoverColor: $color--pacific-blue;
	$submenuHeadingColor: $submenuLinkColor;
	$submenuMimicLineheight: 15px;
	$submenuLinkFontsize: 13px;

	* {
		transition: 150ms ease all;
	}
	.wrapper {
		@extend %flex-row;

		position: relative;;
		z-index:$mainZindex;

		width: 100%;
		max-width:$navigationWidth;


		padding:0;
		margin:0 auto;

		.item,
		.item.hover,
		.item.active {
			display: flex;
			> a {
				padding: $item-padding-vert $item-padding-hor;

				color:white;
				text-transform: uppercase;
				font-weight: bold;

				&:hover {
					background-color: $color--petrol2;
					text-decoration: none;
					position: relative;

					&:after {
						width: 0;
					  height: 0;
					  content: '';
					  z-index: 2;
					  border-top: 1.2em solid $color--petrol2;
					  border-left: 0.8em solid transparent;
					  border-right: 0.8em solid transparent;
					  position: absolute;
					  left: 45%;
					  top: 100%;
						z-index: $mainZindex;
					}
				}
			}
		}
	}
	.subs-wrapper {
		display: none;
		position: fixed;
		left: 0px;
		width: 100%;

		height:inherit;
		opacity: 0;
		z-index:($mainZindex - 1);

		background-color: $color--petrol;

		&.hover,
		&:hover,
		&.active {
			opacity: 1;

			&.subs-wrapper{
				@extend %flex-row;
				padding:$item-padding-hor;

				&.cols-2 {
					.col {
						flex-basis: 50%;
					}
				}
			}
		}

		.col {
			h6 {
				margin:0 0 $submenuMimicLineheight 0;

				color:$submenuHeadingColor;
				text-transform:uppercase;
			}
			.item {
				margin:0 0 ($submenuMimicLineheight/2.5) 0;

				a {
					font-size:$submenuLinkFontsize;
					color: $submenuLinkColor;

					&:hover {
						text-decoration: none;
						color:$submenuLinkHoverColor;
					}
				}
			}
		}
	}
	.bg-mask {
		position: fixed;
		z-index: ($mainZindex - 2);

		width: 100%;
		height: 100%;

		top:0;
		left:0;

		background-color:$bgMaskColor;
	}
}
