//All JS and CSS are global scope!
@import '../../../00-Utilities/bootstrap/bootstrap-custom/bootstrap-variables-custom';

.postfooter {
  //font-size: 17px;
  font-weight: 400;
  margin-top: 30px;

  a {
    display: inline-block;
    margin: 1em 0;
    transition: .12s;

    .icon-img{
      transition: .12s;
    }

    &:hover, &:focus {
      color: lighten($color--pacific-blue,10%);
      text-decoration: none;

      .icon-img {
        -webkit-filter: brightness(120%);
        filter: brightness(120%);
      }
    }
  }
}

@media screen and (min-width: $screen-xs) {
  .postfooter {
    margin-top: 20px;
  }
}

@media screen and (min-width: $screen-md) {
  .postfooter {
    margin-top: 30px;
    //font-size: 29px;
  }
}
