.quicklink-navigation {
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;

	padding:0;
	margin:0;

	> .item,
	> li {
		&:before {
			display: none;
		}

		a {
			text-transform: uppercase;
		}
	}
}