@import '../../../00-Utilities/bootstrap/bootstrap-custom/bootstrap-variables-custom';
@import '../../../00-Utilities/colors/color-names';

[data-navigation="quicklinks"] {
	font-size: 24px;

	.component-title {
		font-size: 1em;
	}

	.quicklink-navigation {

		display:flex;
		flex-direction: column;
		flex-wrap: nowrap;

		padding:0;
		margin:0;

		* {
			transition: 100ms ease color;
		}

		> .item,
		> li {
			&:before {
				display: none;
			}

			a {
				color: $brand-primary;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	&.quicklink-header {

		.component-title {
			display: none;
		}

		.quicklink-navigation {
			$submenuLinkHoverColor: white;

			display:flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;

			> .item,
			> li {
				&:before {
					display: none;
				}

				a {
					text-transform: uppercase;
					font-size:$font-size-small;

					&:hover {
						text-decoration: none;
						color:$submenuLinkHoverColor;
					}
				}
			}
		}

	}
}
