@import '../../../00-Utilities/bootstrap/bootstrap-custom/bootstrap-variables-custom';
@import '../../../00-Utilities/colors/color-names';

.quicklinks {

	.component-title {
		font-size: inherit;
	}

	.quicklink-navigation {

		display:flex;
		flex-direction: column;
		flex-wrap: nowrap;

		padding:0;
		margin:0;

		* {
			transition: 100ms ease color;
		}

		> .item,
		> li {

			+ li {
				margin-top: 1em;
			}

			&:before {
				display: none;
			}

			a {
				color: $brand-primary;

				&:hover {
					text-decoration: none;
					color: $color--pacific-blue;
				}
			}
		}
	}

	&.quicklink--header {

		.component-title {
			display: none;
		}

		.quicklink-navigation {
			$submenuLinkHoverColor: white;

			display:flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;

			> .item,
			> li {

				+ li {
					margin-top: 0;
				}

				&:before {
					display: none;
				}

				a {
					text-transform: uppercase;
					font-size:$font-size-small;

					&:hover {
						text-decoration: none;
						color:$submenuLinkHoverColor;
					}
				}
			}
		}

	}
}
