/*
* example css for documentation of custom fonts via Google Fonts
*/
@import "../../00-Utilities/bootstrap/bootstrap-custom/bootstrap-variables-custom";

[class*="sourcejs-fonts-font-"] {
  font-size: 2.2em;
  letter-spacing: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  padding: .5em 0 0;
  margin-bottom: 1em;

  &::before {
    content: "fontname";
    font-size: 12px;
    font-family: $font-family-sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #333;
    position: absolute;
    top: -.1em;
  }
}

.sourcejs-fonts-font-OS {
  font-weight: 400;
  &::before { content: "Open Sans Normal (use 'font-weight: 400')"; }
}

.sourcejs-fonts-font-OSl {
  font-weight: 300;
  &::before { content: "Open Sans Light (=default font-weight)"; }
}

.sourcejs-fonts-font-OSli {
  font-weight: 300;
  font-style: italic;
  &::before { content: "Open Sans Light Italic"; }
}

.sourcejs-fonts-font-OSsb {
  font-weight: 600;
  &::before { content: "Open Sans Semi Bold"; }
}

.sourcejs-fonts-font-OSb {
  font-weight: 700;
  &::before { content: "Open Sans Bold"; }
}

.sourcejs-fonts-font-RS {
  font-family: $font-family-serif;
  font-weight: 400;
  &::before { content: "Roboto Slab"; }
}
