//All JS and CSS are global scope!
@import '../../00-Utilities/bootstrap/bootstrap-custom/bootstrap-variables-custom';

.container-fluid {
	section {
		max-width: $screen-sm;
		margin: 0 auto;

		.row {
			div[class*='col-md'] {
				padding:5px;
			}
		}
		&.container-fluid {
			.row {

			}
		}

		&.full {
			max-width:100%;
		}
	}
}
