//All JS and CSS are global scope!
@import '../../00-Utilities/bootstrap/bootstrap-custom/bootstrap-variables-custom';

.boxed {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	> .row {
		max-width: $max-site-width;
		width: 100%;
	}
}
