//All JS and CSS are global scope!
@import '../../00-Utilities/bootstrap/bootstrap-custom/bootstrap-custom-variables';

.container-fluid {
	section {
		max-width: 100%;
		margin: 0 auto;

		.row {
			div[class*='col-md'] {
				padding:5px;
			}
		}
		&.container-fluid {
			.row {

			}
		}

		&.boxed {
			max-width:$screen-lg;
		}
	}
}
