
@-ms-viewport {
    width: device-width
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

*:before,*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

body {
    font-weight: 300;
    overflow-y: scroll;
    font-family: "Open Sans","Gill Sans","Gill Sans MT",Calibri,sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
    margin: 0;
    min-height: 100vh;
    background-color: #484747;
}

section {
  color: #484747;
  background: #fff;
}

section.theme-light-blue {
  height: 200px;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block
}

audio,canvas,progress,video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],template {
    display: none
}

a {
    background-color: transparent
}

a:active,a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,kbd,pre,samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button,input,optgroup,select,textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,select {
    text-transform: none
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="checkbox"],input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,th {
    padding: 0
}

@media print {
    *,*:before,*:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important
    }

    a,a:visited {
        text-decoration: underline
    }

    a[href]:after {
        content: " (" attr(href) ")"
    }

    abbr[title]:after {
        content: " (" attr(title) ")"
    }

    a[href^="#"]:after,a[href^="javascript:"]:after {
        content: ""
    }

    pre,blockquote {
        border: 1px solid #999;
        page-break-inside: avoid
    }

    thead {
        display: table-header-group
    }

    tr,img {
        page-break-inside: avoid
    }

    img {
        max-width: 100% !important
    }

    p,h2,h3 {
        orphans: 3;
        widows: 3
    }

    h2,h3 {
        page-break-after: avoid
    }

    .navbar {
        display: none
    }

    .btn>.caret,.dropup>.btn>.caret {
        border-top-color: #000 !important
    }

    .label {
        border: 1px solid #000
    }

    .table {
        border-collapse: collapse !important
    }

    .table td,.table th {
        background-color: #fff !important
    }

    .table-bordered th,.table-bordered td {
        border: 1px solid #ddd !important
    }
}






button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a {
    color: #00b5ce;
    text-decoration: none
}

a:hover,a:focus {
    color: #00b5ce;
    text-decoration: underline
}

a:focus {
    outline: 0;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

figure {
    margin: 0
}

img {
    vertical-align: middle
}


[role="button"] {
    cursor: pointer
}

::selection {
    background-color: rgba(0,181,206,0.5);
    text-shadow: none
}


h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-family: inherit;
    font-weight: 600;
    line-height: 1.5;
    color: #254a5d
}

h1 small,h1 .small,h2 small,h2 .small,h3 small,h3 .small,h4 small,h4 .small,h5 small,h5 .small,h6 small,h6 .small,.h1 small,.h1 .small,.h2 small,.h2 .small,.h3 small,.h3 .small,.h4 small,.h4 .small,.h5 small,.h5 .small,.h6 small,.h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #bfbfbf
}

h1,.h1,h2,.h2,h3,.h3 {
    margin-top: 25px;
    margin-bottom: 12.5px
}

h1 small,h1 .small,.h1 small,.h1 .small,h2 small,h2 .small,.h2 small,.h2 .small,h3 small,h3 .small,.h3 small,.h3 .small {
    font-size: 65%
}

h4,.h4,h5,.h5,h6,.h6 {
    margin-top: 12.5px;
    margin-bottom: 12.5px
}

h4 small,h4 .small,.h4 small,.h4 .small,h5 small,h5 .small,.h5 small,.h5 .small,h6 small,h6 .small,.h6 small,.h6 .small {
    font-size: 75%
}

h1,.h1 {
    font-size: 26px
}

h2,.h2 {
    font-size: 22px
}

h3,.h3 {
    font-size: 29px
}

h4,.h4 {
    font-size: 20px
}

h5,.h5 {
    font-size: 16px
}

h6,.h6 {
    font-size: 14px
}

p {
    margin: 0 0 12.5px
}

.lead {
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4
}

@media (min-width: 768px) {
    .lead {
        font-size:24px
    }
}

small,.small {
    font-size: 87%
}


ul,ol {
    margin-top: 0;
    margin-bottom: 12.5px
}

ul ul,ul ol,ol ul,ol ol {
    margin-bottom: 0
}


h1,.h1 {
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 700
}

h2,.h2 {
    line-height: 1.13;
    font-weight: 600
}

h3,.h3 {
    line-height: 1.5;
    font-weight: 300
}

h5,.h5 {
    margin-bottom: 0
}

h1,h2,h3,.h1,.h2,.h3 {
    letter-spacing: 1px
}

h1,h2,h3,h4,.h1,.h2,.h3,.h4 {
    margin-bottom: 1em
}

h1:first-child,h2:first-child,h3:first-child,h4:first-child,.h1:first-child,.h2:first-child,.h3:first-child,.h4:first-child {
    margin-top: 0
}

h1:last-child,h2:last-child,h3:last-child,h4:last-child,.h1:last-child,.h2:last-child,.h3:last-child,.h4:last-child {
    margin-bottom: 0
}

a:hover h1,a:focus h1,a:hover h2,a:focus h2,a:hover h3,a:focus h3,a:hover h4,a:focus h4,a:hover .h1,a:focus .h1,
a:hover .h2, a:focus .h2,a:hover .h3,a:focus .h3,a:hover .h4,a:focus .h4 {
  color: currentColor
}

p {
  margin: 0 0 1em
}

ul,ol {
    margin-top: 0;
    margin-bottom: 1em;
    padding-left: 1em
}

ul ul,ul ol,ol ul,ol ol {
    margin-bottom: 0
}

ul {
    list-style-type: none
}

ul li::before {
    content: "\00b7";
    font-weight: bolder;
    position: absolute;
    margin-left: -.75em
}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

.row>* {
    width: 100%
}

.row>[class*="col-"] {
    display: flex;
    flex-direction: column
}

.col-xs-1 {
    width: 8.33333%
}

.col-xs-2 {
    width: 16.66667%
}

.col-xs-3 {
    width: 25%
}

.col-xs-4 {
    width: 33.33333%
}

.col-xs-5 {
    width: 41.66667%
}

.col-xs-6 {
    width: 50%
}

.col-xs-7 {
    width: 58.33333%
}

.col-xs-8 {
    width: 66.66667%
}

.col-xs-9 {
    width: 75%
}

.col-xs-10 {
    width: 83.33333%
}

.col-xs-11 {
    width: 91.66667%
}

.col-xs-12 {
    width: 100%
}

.col-xs-pull-0 {
    right: auto
}

.col-xs-pull-1 {
    right: 8.33333%
}

.col-xs-pull-2 {
    right: 16.66667%
}

.col-xs-pull-3 {
    right: 25%
}

.col-xs-pull-4 {
    right: 33.33333%
}

.col-xs-pull-5 {
    right: 41.66667%
}

.col-xs-pull-6 {
    right: 50%
}

.col-xs-pull-7 {
    right: 58.33333%
}

.col-xs-pull-8 {
    right: 66.66667%
}

.col-xs-pull-9 {
    right: 75%
}

.col-xs-pull-10 {
    right: 83.33333%
}

.col-xs-pull-11 {
    right: 91.66667%
}

.col-xs-pull-12 {
    right: 100%
}

.col-xs-push-0 {
    left: auto
}

.col-xs-push-1 {
    left: 8.33333%
}

.col-xs-push-2 {
    left: 16.66667%
}

.col-xs-push-3 {
    left: 25%
}

.col-xs-push-4 {
    left: 33.33333%
}

.col-xs-push-5 {
    left: 41.66667%
}

.col-xs-push-6 {
    left: 50%
}

.col-xs-push-7 {
    left: 58.33333%
}

.col-xs-push-8 {
    left: 66.66667%
}

.col-xs-push-9 {
    left: 75%
}

.col-xs-push-10 {
    left: 83.33333%
}

.col-xs-push-11 {
    left: 91.66667%
}

.col-xs-push-12 {
    left: 100%
}

.col-xs-offset-0 {
    margin-left: 0%
}

.col-xs-offset-1 {
    margin-left: 8.33333%
}

.col-xs-offset-2 {
    margin-left: 16.66667%
}

.col-xs-offset-3 {
    margin-left: 25%
}

.col-xs-offset-4 {
    margin-left: 33.33333%
}

.col-xs-offset-5 {
    margin-left: 41.66667%
}

.col-xs-offset-6 {
    margin-left: 50%
}

.col-xs-offset-7 {
    margin-left: 58.33333%
}

.col-xs-offset-8 {
    margin-left: 66.66667%
}

.col-xs-offset-9 {
    margin-left: 75%
}

.col-xs-offset-10 {
    margin-left: 83.33333%
}

.col-xs-offset-11 {
    margin-left: 91.66667%
}

.col-xs-offset-12 {
    margin-left: 100%
}

@media (min-width: 768px) {
    .col-sm-1 {
        width:8.33333%
    }

    .col-sm-2 {
        width: 16.66667%
    }

    .col-sm-3 {
        width: 25%
    }

    .col-sm-4 {
        width: 33.33333%
    }

    .col-sm-5 {
        width: 41.66667%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-7 {
        width: 58.33333%
    }

    .col-sm-8 {
        width: 66.66667%
    }

    .col-sm-9 {
        width: 75%
    }

    .col-sm-10 {
        width: 83.33333%
    }

    .col-sm-11 {
        width: 91.66667%
    }

    .col-sm-12 {
        width: 100%
    }

    .col-sm-pull-0 {
        right: auto
    }

    .col-sm-pull-1 {
        right: 8.33333%
    }

    .col-sm-pull-2 {
        right: 16.66667%
    }

    .col-sm-pull-3 {
        right: 25%
    }

    .col-sm-pull-4 {
        right: 33.33333%
    }

    .col-sm-pull-5 {
        right: 41.66667%
    }

    .col-sm-pull-6 {
        right: 50%
    }

    .col-sm-pull-7 {
        right: 58.33333%
    }

    .col-sm-pull-8 {
        right: 66.66667%
    }

    .col-sm-pull-9 {
        right: 75%
    }

    .col-sm-pull-10 {
        right: 83.33333%
    }

    .col-sm-pull-11 {
        right: 91.66667%
    }

    .col-sm-pull-12 {
        right: 100%
    }

    .col-sm-push-0 {
        left: auto
    }

    .col-sm-push-1 {
        left: 8.33333%
    }

    .col-sm-push-2 {
        left: 16.66667%
    }

    .col-sm-push-3 {
        left: 25%
    }

    .col-sm-push-4 {
        left: 33.33333%
    }

    .col-sm-push-5 {
        left: 41.66667%
    }

    .col-sm-push-6 {
        left: 50%
    }

    .col-sm-push-7 {
        left: 58.33333%
    }

    .col-sm-push-8 {
        left: 66.66667%
    }

    .col-sm-push-9 {
        left: 75%
    }

    .col-sm-push-10 {
        left: 83.33333%
    }

    .col-sm-push-11 {
        left: 91.66667%
    }

    .col-sm-push-12 {
        left: 100%
    }

    .col-sm-offset-0 {
        margin-left: 0%
    }

    .col-sm-offset-1 {
        margin-left: 8.33333%
    }

    .col-sm-offset-2 {
        margin-left: 16.66667%
    }

    .col-sm-offset-3 {
        margin-left: 25%
    }

    .col-sm-offset-4 {
        margin-left: 33.33333%
    }

    .col-sm-offset-5 {
        margin-left: 41.66667%
    }

    .col-sm-offset-6 {
        margin-left: 50%
    }

    .col-sm-offset-7 {
        margin-left: 58.33333%
    }

    .col-sm-offset-8 {
        margin-left: 66.66667%
    }

    .col-sm-offset-9 {
        margin-left: 75%
    }

    .col-sm-offset-10 {
        margin-left: 83.33333%
    }

    .col-sm-offset-11 {
        margin-left: 91.66667%
    }

    .col-sm-offset-12 {
        margin-left: 100%
    }
}

@media (min-width: 992px) {
    .col-md-1 {
        width:8.33333%
    }

    .col-md-2 {
        width: 16.66667%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-4 {
        width: 33.33333%
    }

    .col-md-5 {
        width: 41.66667%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-7 {
        width: 58.33333%
    }

    .col-md-8 {
        width: 66.66667%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-10 {
        width: 83.33333%
    }

    .col-md-11 {
        width: 91.66667%
    }

    .col-md-12 {
        width: 100%
    }

    .col-md-pull-0 {
        right: auto
    }

    .col-md-pull-1 {
        right: 8.33333%
    }

    .col-md-pull-2 {
        right: 16.66667%
    }

    .col-md-pull-3 {
        right: 25%
    }

    .col-md-pull-4 {
        right: 33.33333%
    }

    .col-md-pull-5 {
        right: 41.66667%
    }

    .col-md-pull-6 {
        right: 50%
    }

    .col-md-pull-7 {
        right: 58.33333%
    }

    .col-md-pull-8 {
        right: 66.66667%
    }

    .col-md-pull-9 {
        right: 75%
    }

    .col-md-pull-10 {
        right: 83.33333%
    }

    .col-md-pull-11 {
        right: 91.66667%
    }

    .col-md-pull-12 {
        right: 100%
    }

    .col-md-push-0 {
        left: auto
    }

    .col-md-push-1 {
        left: 8.33333%
    }

    .col-md-push-2 {
        left: 16.66667%
    }

    .col-md-push-3 {
        left: 25%
    }

    .col-md-push-4 {
        left: 33.33333%
    }

    .col-md-push-5 {
        left: 41.66667%
    }

    .col-md-push-6 {
        left: 50%
    }

    .col-md-push-7 {
        left: 58.33333%
    }

    .col-md-push-8 {
        left: 66.66667%
    }

    .col-md-push-9 {
        left: 75%
    }

    .col-md-push-10 {
        left: 83.33333%
    }

    .col-md-push-11 {
        left: 91.66667%
    }

    .col-md-push-12 {
        left: 100%
    }

    .col-md-offset-0 {
        margin-left: 0%
    }

    .col-md-offset-1 {
        margin-left: 8.33333%
    }

    .col-md-offset-2 {
        margin-left: 16.66667%
    }

    .col-md-offset-3 {
        margin-left: 25%
    }

    .col-md-offset-4 {
        margin-left: 33.33333%
    }

    .col-md-offset-5 {
        margin-left: 41.66667%
    }

    .col-md-offset-6 {
        margin-left: 50%
    }

    .col-md-offset-7 {
        margin-left: 58.33333%
    }

    .col-md-offset-8 {
        margin-left: 66.66667%
    }

    .col-md-offset-9 {
        margin-left: 75%
    }

    .col-md-offset-10 {
        margin-left: 83.33333%
    }

    .col-md-offset-11 {
        margin-left: 91.66667%
    }

    .col-md-offset-12 {
        margin-left: 100%
    }
}

@media (min-width: 1200px) {
    .col-lg-1 {
        width:8.33333%
    }

    .col-lg-2 {
        width: 16.66667%
    }

    .col-lg-3 {
        width: 25%
    }

    .col-lg-4 {
        width: 33.33333%
    }

    .col-lg-5 {
        width: 41.66667%
    }

    .col-lg-6 {
        width: 50%
    }

    .col-lg-7 {
        width: 58.33333%
    }

    .col-lg-8 {
        width: 66.66667%
    }

    .col-lg-9 {
        width: 75%
    }

    .col-lg-10 {
        width: 83.33333%
    }

    .col-lg-11 {
        width: 91.66667%
    }

    .col-lg-12 {
        width: 100%
    }

    .col-lg-pull-0 {
        right: auto
    }

    .col-lg-pull-1 {
        right: 8.33333%
    }

    .col-lg-pull-2 {
        right: 16.66667%
    }

    .col-lg-pull-3 {
        right: 25%
    }

    .col-lg-pull-4 {
        right: 33.33333%
    }

    .col-lg-pull-5 {
        right: 41.66667%
    }

    .col-lg-pull-6 {
        right: 50%
    }

    .col-lg-pull-7 {
        right: 58.33333%
    }

    .col-lg-pull-8 {
        right: 66.66667%
    }

    .col-lg-pull-9 {
        right: 75%
    }

    .col-lg-pull-10 {
        right: 83.33333%
    }

    .col-lg-pull-11 {
        right: 91.66667%
    }

    .col-lg-pull-12 {
        right: 100%
    }

    .col-lg-push-0 {
        left: auto
    }

    .col-lg-push-1 {
        left: 8.33333%
    }

    .col-lg-push-2 {
        left: 16.66667%
    }

    .col-lg-push-3 {
        left: 25%
    }

    .col-lg-push-4 {
        left: 33.33333%
    }

    .col-lg-push-5 {
        left: 41.66667%
    }

    .col-lg-push-6 {
        left: 50%
    }

    .col-lg-push-7 {
        left: 58.33333%
    }

    .col-lg-push-8 {
        left: 66.66667%
    }

    .col-lg-push-9 {
        left: 75%
    }

    .col-lg-push-10 {
        left: 83.33333%
    }

    .col-lg-push-11 {
        left: 91.66667%
    }

    .col-lg-push-12 {
        left: 100%
    }

    .col-lg-offset-0 {
        margin-left: 0%
    }

    .col-lg-offset-1 {
        margin-left: 8.33333%
    }

    .col-lg-offset-2 {
        margin-left: 16.66667%
    }

    .col-lg-offset-3 {
        margin-left: 25%
    }

    .col-lg-offset-4 {
        margin-left: 33.33333%
    }

    .col-lg-offset-5 {
        margin-left: 41.66667%
    }

    .col-lg-offset-6 {
        margin-left: 50%
    }

    .col-lg-offset-7 {
        margin-left: 58.33333%
    }

    .col-lg-offset-8 {
        margin-left: 66.66667%
    }

    .col-lg-offset-9 {
        margin-left: 75%
    }

    .col-lg-offset-10 {
        margin-left: 83.33333%
    }

    .col-lg-offset-11 {
        margin-left: 91.66667%
    }

    .col-lg-offset-12 {
        margin-left: 100%
    }
}

@media screen and (min-width: 992px) {
    .row.row--md-reverse {
        flex-direction:row-reverse
    }
}

@media screen and (min-width: 768px) {
    .row.row--sm-reverse {
        flex-direction:row-reverse
    }
}

[class*="col-"]>.fill-column {
    flex-grow: 1
}

.row--gutter.row--gutter {
    padding-left: 6.25px;
    padding-right: 6.25px;
    flex-wrap: wrap;
    padding-bottom: 12.5px
}

.row--gutter.row--gutter>[class*="col-"] {
    padding-left: 6.25px;
    padding-right: 6.25px;
    padding-bottom: 12.5px
}

@media screen and (min-width: 480px) {
    .row--gutter.row--gutter {
        padding-left:47.5px;
        padding-right: 47.5px;
        flex-wrap: wrap;
        padding-bottom: 0
    }

    .row--gutter.row--gutter>[class*="col-"] {
        padding-left: 12.5px;
        padding-right: 12.5px;
        padding-bottom: 25px
    }
}

@media screen and (min-width: 992px) {
    .col-md-4 .row--gutter.row--gutter,.col-md-3 .row--gutter.row--gutter {
        padding-left:6.25px;
        padding-right: 6.25px;
        flex-wrap: wrap
    }

    .col-md-4 .row--gutter.row--gutter>[class*="col-"],.col-md-3 .row--gutter.row--gutter>[class*="col-"] {
        padding-left: 6.25px;
        padding-right: 6.25px;
        padding-bottom: 12.5px
    }

    .col-md-4 .row--gutter.row--gutter .col-xs-6.col-sm-3,.col-md-3 .row--gutter.row--gutter .col-xs-6.col-sm-3 {
        width: 50%
    }
}

.row--gutter-sm>* {
    padding-bottom: 25px
}

@media screen and (min-width: 768px) {
    .row--gutter.row--gutter,.row--gutter-sm.row--gutter-sm {
        padding-left:12.5px;
        padding-right: 12.5px;
        flex-wrap: wrap
    }

    .row--gutter.row--gutter>[class*="col-"],.row--gutter-sm.row--gutter-sm>[class*="col-"] {
        padding-left: 12.5px;
        padding-right: 12.5px
    }
}

@media screen and (min-width: 992px) {
    .row--gutter.row--gutter,.row--gutter-sm.row--gutter-sm {
        padding-left:47.5px;
        padding-right: 47.5px;
        flex-wrap: wrap
    }

    .row--gutter.row--gutter>[class*="col-"],.row--gutter-sm.row--gutter-sm>[class*="col-"] {
        padding-left: 12.5px;
        padding-right: 12.5px
    }
}




ul.row,ol.row {
    list-style: none;
    padding: 0;
    margin-bottom: 0
}

ul.row>li,ol.row>li {
    position: relative
}

ul.row>li>:first-child,ol.row>li>:first-child {
    margin-top: 0
}

ul.row>li>:last-child,ol.row>li>:last-child {
    margin-bottom: 0
}

ul.row>li::before,ol.row>li::before {
    display: none
}




.pull-right {
    float: right !important
}

.pull-left {
    float: left !important
}

.hide {
    display: none !important
}

.show {
    display: block !important
}

.invisible {
    visibility: hidden
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}

.hidden {
    display: none !important
}

.affix {
    position: fixed
}

.push {
    margin: 25px !important
}

.push--top {
    margin-top: 25px !important
}

.push--right {
    margin-right: 25px !important
}

.push--bottom {
    margin-bottom: 25px !important
}

.push--left {
    margin-left: 25px !important
}

.push--ends {
    margin-top: 25px !important;
    margin-bottom: 25px !important
}

.push--sides {
    margin-right: 25px !important;
    margin-left: 25px !important
}

.push-base {
    margin: 50px 25px !important
}

.push-base--top {
    margin-top: 50px !important
}

.push-base--right {
    margin-right: 25px !important
}

.push-base--bottom {
    margin-bottom: 50px !important
}

.push-base--left {
    margin-left: 25px !important
}

.push-base--ends {
    margin-top: 50px !important;
    margin-bottom: 50px !important
}

.push-base--sides {
    margin-right: 25px !important;
    margin-left: 25px !important
}

.push-large {
    margin: 50px 60px !important
}

.push-large--top {
    margin-top: 50px !important
}

.push-large--right {
    margin-right: 60px !important
}

.push-large--bottom {
    margin-bottom: 50px !important
}

.push-large--left {
    margin-left: 60px !important
}

.push-large--ends {
    margin-top: 50px !important;
    margin-bottom: 50px !important
}

.push-large--sides {
    margin-right: 60px !important;
    margin-left: 60px !important
}

.flush {
    margin: 0 !important
}

.flush--top {
    margin-top: 0 !important
}

.flush--right {
    margin-right: 0 !important
}

.flush--bottom {
    margin-bottom: 0 !important
}

.flush--left {
    margin-left: 0 !important
}

.flush--ends {
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

.flush--sides {
    margin-right: 0 !important;
    margin-left: 0 !important
}

.soft {
    padding: 25px !important
}

.soft--top {
    padding-top: 25px !important
}

.soft--right {
    padding-right: 25px !important
}

.soft--bottom {
    padding-bottom: 25px !important
}

.soft--left {
    padding-left: 25px !important
}

.soft--ends {
    padding-top: 25px !important;
    padding-bottom: 25px !important
}

.soft--sides {
    padding-right: 25px !important;
    padding-left: 25px !important
}

.soft-base {
    padding: 50px 25px !important
}

.soft-base--top {
    padding-top: 50px !important
}

.soft-base--right {
    padding-right: 25px !important
}

.soft-base--bottom {
    padding-bottom: 50px !important
}

.soft-base--left {
    padding-left: 25px !important
}

.soft-base--ends {
    padding-top: 50px !important;
    padding-bottom: 50px !important
}

.soft-base--sides {
    padding-right: 25px !important;
    padding-left: 25px !important
}

.soft-large {
    padding: 50px 60px !important
}

.soft-large--top {
    padding-top: 50px !important
}

.soft-large--right {
    padding-right: 60px !important
}

.soft-large--bottom {
    padding-bottom: 50px !important
}

.soft-large--left {
    padding-left: 60px !important
}

.soft-large--ends {
    padding-top: 50px !important;
    padding-bottom: 50px !important
}

.soft-large--sides {
    padding-right: 60px !important;
    padding-left: 60px !important
}

.hard {
    padding: 0 !important
}

.hard--top {
    padding-top: 0 !important
}

.hard--right {
    padding-right: 0 !important
}

.hard--bottom {
    padding-bottom: 0 !important
}

.hard--left {
    padding-left: 0 !important
}

.hard--ends {
    padding-top: 0 !important;
    padding-bottom: 0 !important
}

.hard--sides {
    padding-right: 0 !important;
    padding-left: 0 !important
}




.theme-white {
    color: #484747;
    background-color: #fff
}

.theme-white a {
    color: #00b5ce
}

.theme-white a:hover,.theme-white a:focus {
    color: #00b5ce
}

.theme-light-taupe {
    color: #484747;
    background-color: #ececec
}

.theme-light-taupe .category-name {
    color: inherit
}

.theme-gray {
    color: #484747;
    background-color: #dadada
}

.theme-gray .category-name {
    color: inherit
}

.theme-petrol {
    color: #fff;
    background-color: #254a5d
}

.theme-petrol .category-name,.theme-petrol h1,.theme-petrol h2,.theme-petrol h3,.theme-petrol h4,.theme-petrol h5,.theme-petrol h6,.theme-petrol .h1,.theme-petrol .h2,.theme-petrol .h3,.theme-petrol .h4,.theme-petrol .h5,.theme-petrol .h6 {
    color: inherit
}

.theme-taupe {
    color: #fff;
    background-color: #484747
}

.theme-taupe .category-name,.theme-taupe h1,.theme-taupe h2,.theme-taupe h3,.theme-taupe h4,.theme-taupe h5,.theme-taupe h6,.theme-taupe .h1,.theme-taupe .h2,.theme-taupe .h3,.theme-taupe .h4,.theme-taupe .h5,.theme-taupe .h6 {
    color: inherit
}

.theme-light-blue {
    color: #fff;
    background-color: #00b5ce
}

.theme-light-blue .category-name,.theme-light-blue h1,.theme-light-blue h2,.theme-light-blue h3,.theme-light-blue h4,.theme-light-blue h5,.theme-light-blue h6,.theme-light-blue .h1,.theme-light-blue .h2,.theme-light-blue .h3,.theme-light-blue .h4,.theme-light-blue .h5,.theme-light-blue .h6 {
    color: inherit
}

.theme-light-blue a {
    color: #254a5d
}

.theme-light-blue a:hover,.theme-light-blue a:focus {
    color: #1b3543
}

.boxed {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.boxed>.row {
    max-width: 1200px;
    width: 100%
}




.postfooter-coda {
    font-size: .875em;
    margin-top: 10px;
    margin-bottom: 20px
}

@media screen and (min-width: 480px) {
    .postfooter-coda.list-hor>* {
        margin-left:.75em;
        margin-right: .75em
    }

    .postfooter-coda.list-hor>*:last-child::before {
        content: "\2022";
        color: rgba(255,255,255,0.35);
        position: absolute;
        display: block;
        transform: translateX(-0.25em)
    }
}

.postfooter-coda a {
    display: inline-block;
    margin-bottom: 1em;
    color: rgba(255,255,255,0.35);
    transition: .12s
}

.postfooter-coda a:hover,.postfooter-coda a:focus {
    color: rgba(255,255,255,0.7);
    text-decoration: none
}

@media screen and (min-width: 480px) {
    .postfooter-coda {
        margin-top:0;
        margin-bottom: 10px
    }
}

@media screen and (min-width: 992px) {
    .postfooter-coda {
        margin-top:10px
    }
}

.postfooter {
    font-weight: 400;
    margin-top: 30px
}

.postfooter a {
    display: inline-block;
    margin: 1em 0;
    transition: .12s
}

.postfooter a .icon-img {
    transition: .12s
}

.postfooter a:hover,.postfooter a:focus {
    color: #02e0ff;
    text-decoration: none
}

.postfooter a:hover .icon-img,.postfooter a:focus .icon-img {
    -webkit-filter: brightness(120%);
    filter: brightness(120%)
}

@media screen and (min-width: 480px) {
    .postfooter {
        margin-top:20px
    }
}

@media screen and (min-width: 992px) {
    .postfooter {
        margin-top:30px
    }
}





.header {
    background-color: #254a5d
}

.header__inner {
    max-width: 1200px;
    margin: 0 auto;
    height: 65px;
    transition: .1s
}

.logo {
    display: block;
    width: auto;
}

.logo a {
    display: block;
}

.logo img {
    width: 51.2px;
    height: auto;
    display: block;
}

@media screen and (min-width: 480px) {
    .header__inner {
        height:83px
    }

    .logo img {
        width: 64px
    }
}

@media screen and (min-width: 992px) {
    .header__inner {
        height:145px
    }

    .logo img {
        width: 128px
    }
}

.desktop {
    position: relative;
    height: 100%
}

.desktop .logo {
    position: absolute;
    top: 20px;
    left: 55px;
    z-index: 9
}

.handheld .logo {
    left: 24px;
    top: 14px;
    position: absolute;
    z-index: 9
}

@media screen and (min-width: 480px) {
    .handheld .logo {
        left:57px;
        top: 20px
    }
}






.logo {
  animation: inerror .24s linear;
}

.hero {
  animation: inerror .6s linear;
}

.col-sm-12 {
  animation: inerror 1.6s linear;
}

@keyframes inerror {
  0% {opacity: 0;}
  40% {opacity: 0;}
}

.theme-light-taupe {
  transform-origin: top center;
  animation: grow .08s linear;
}

.theme-light-blue {
  transform-origin: top center;
  animation: grow2 .16s ease-in;
}

@keyframes grow {
  0% { transform: scaleY(.2);}
}

@keyframes grow2 {
  0% { transform: scaleY(0);}
  50% { transform: scaleY(0);}
}






.body-content {
    padding: 50px 0
}

.body-content h3,.body-content h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 1.6
}

.body-content__inner>:first-child {
    margin-top: 0
}

.body-content__inner>:last-child {
    margin-bottom: 0
}

@media screen and (max-width: 480px) {
    .body-content__inner>*:not(figure) {
        margin-left:25px;
        margin-right: 25px
    }
}

@media screen and (min-width: 480px) {
    .body-content {
        padding:50px 60px
    }

    .body-content__inner {
        max-width: 44em
    }
}

.hero-title {
    overflow: hidden
}

.hero-title:last-child .hero-title__inner {
    margin-bottom: 50px
}

@media screen and (min-width: 480px) {
    .hero-title:last-child .hero-title__inner {
        margin-bottom:50px
    }
}

.hero-title:not(:last-child) {
    margin-bottom: -50px
}

@media screen and (min-width: 480px) {
    .hero-title:not(:last-child) {
        margin-bottom:-50px
    }
}

.hero-title__inner,.hero .body-content {
    max-width: 1200px;
    margin: auto;
    position: relative
}

.hero-title__inner {
    padding: 50px 25px 0;
    box-sizing: border-box;
    display: table;
    width: 100%;
    z-index: 3;
    height: 100px
}

.hero-title__inner h1,.hero-title__inner h1:last-child {
    max-width: 24.61538em;
    margin-bottom: 1em
}

@media screen and (min-width: 480px) {
    .hero-title__inner {
        padding:50px 60px 0
    }
}

@media screen and (min-width: 992px) {
    .hero-title__inner {
        padding-top:75px
    }
}

body {
  padding-bottom: 3em;
}

.hero .body-content__inner {
  padding-bottom: 3em;
}
