//Files named Sourcejs.scss wil be ignored when compiling to main.min.css.
//These files will be compiled to a specific stylesheet. and only uses in SourceJs spec templates.

@import "color-names";

.sourcejs-colorswatches {
  display: flex;
  flex-wrap: wrap;
  border-radius: .75em;
  padding: 0;
  overflow: hidden;

  &.sourcejs-colorswatches--transparancy {
    background: linear-gradient( to bottom, #f6f6f6, #f6f6f6 50%, white 50%) repeat;
    background-size: 4px 4px;
    padding-top: 1em;
  }
}

.sourcejs-colortitle {
  padding-top: 1em;
  padding-left: 1em;
  margin-bottom: .75em;
}

[class*="sourcejs-color-"] {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90px;
  height: 90px;
  border: 1px solid rgba(0,0,0,.05);
  border-radius: 50%;
  margin: 1em 1.85em 4em;

  span {
    position: absolute;
    bottom: -3.5em;
    left: 0;
    display: block;
    width: 250%;
    margin-left: -75%;
    text-align: center;
    padding: 1em .5em 0;
    font-size: 11px;
    color: $color--taupe;
    font-weight: 600;

    &::after {
      color: #666;
      font-weight: 300;
    }
  }
}

[class*="sourcejs-color-gradient"] {
  background-size: cover;
  border: 0;

    span {
      width: 350%;
      margin-left: -20%;
      text-align: left;
    }
}

.sourcejs-color-taupe {               background: $color--taupe; span::after { content: " #{$color--taupe}"; } }
.sourcejs-color-light-taupe {         background: $color--light-taupe; span::after { content: " #{$color--light-taupe}"; } }
.sourcejs-color-petrol {              background: $color--petrol; span::after { content: " #{$color--petrol}"; } }
.sourcejs-color-petrol2 {             background: $color--petrol2; span::after { content: " #{$color--petrol2}"; } }
.sourcejs-color-pacific-blue {        background: $color--pacific-blue; span::after { content: " #{$color--pacific-blue}"; } }
.sourcejs-color-cannon-pink {         background: $color--cannon-pink; span::after { content: " #{$color--cannon-pink}"; } }

.sourcejs-color-petrol--overlay {     background: $color--petrol--overlay; span::after { content: " #{$color--petrol--overlay}"; } }
.sourcejs-color-armadillo--overlay {  background: $color--armadillo--overlay; span::after { content: " #{$color--armadillo--overlay}"; } }
.sourcejs-color-black--overlay {      background: $color--black--overlay; span::after { content: " #{$color--black--overlay}"; } }
.sourcejs-color-gradient--hero {      background: $gradient--hero; span::after { content: " #{$gradient--hero}"; } }

.sourcejs-color-lima1 {               background: $color--lima1; span::after { content: " #{$color--lima1}"; } }
.sourcejs-color-genoa {               background: $color--genoa; span::after { content: " #{$color--genoa}"; } }
.sourcejs-color-alizarin-crimson {    background: $color--alizarin-crimson; span::after { content: " #{$color--alizarin-crimson}"; } }
.sourcejs-color-black {               background: $color--black; span::after { content: " #{$color--black}"; } }
.sourcejs-color-white {               background: $color--white; span::after { content: " #{$color--white}"; } }
