//All JS and CSS are global scope!
@import '../../../00-Utilities/colors/color-names';
@import '../../../00-Utilities/bootstrap/bootstrap-custom/bootstrap-variables-custom';

header {
	&.header {
		background-color: $color--petrol;
		color:white;

		.logo{
			img {
				position: fixed;

				width: 50px;
			}
		}
	}
}
