/*
* example css for documentation of custom fonts via Google Fonts
*/
/*
 * custom version of Bootstrap variable definitions
*/
/*
 * themed colors based on color names as defined in frontify styleguide
*/
/*
 * color names as defined in frontify styleguide
*/
/*
 * Bootstrap variable definitions
*/
.source_section__open .source_example {
  border: 0;
  padding: 0;
  display: block;
  overflow: hidden;
}

[class*="example-font-"] {
  font-size: 2.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  padding: .5em 0 0;
  margin-bottom: 1em;
}

[class*="example-font-"]::before {
  content: "fontname";
  font-size: .4em;
  font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: normal;
  color: #333;
  position: absolute;
  top: -.1em;
}

.example-font-OS::before {
  content: "Open Sans Normal (use 'font-weight: 400')";
}

.example-font-OSl {
  font-weight: 300;
}

.example-font-OSl::before {
  content: "Open Sans Light (=default font-weight)";
}

.example-font-OSsb {
  font-weight: 600;
}

.example-font-OSsb::before {
  content: "Open Sans Semi Bold";
}

.example-font-OSb {
  font-weight: 700;
}

.example-font-OSb::before {
  content: "Open Sans Bold";
}

.example-font-RS {
  font-family: "Roboto Slab", Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}

.example-font-RS::before {
  content: "Roboto Slab";
}
