<!--Custom users footer, overriding core footer -->

<footer class="source_footer">
    <div class="source_col-main">
        <div class="source_col">
            <h2>Sorcerers</h2>
            <ul class="source_ul">
                <li><a class="source_a_l" href="http://twitter.com/operatino">Robert Haritonov</a></li>
                <li><a class="source_a_l" href="http://github.com/cheshirsky">Ilya Mikhailov</a></li>
                <li><a class="source_a_l" href="http://github.com/nightkin">Dennis Przendzinski</a></li>
                <li><a class="source_a_l" href="http://github.com/XOP">Eugeny Khoroshilov</a></li>
                <li><a class="source_a_l" href="http://twitter.com/from_anywhere">Ivan Metelev</a></li>
                <li><a class="source_a_l" href="http://twitter.com/lapynow">Dmitry Lapynow</a></li>
                <li><a class="source_a_l" href="http://twitter.com/ostroffsky">Alexey Ostrovsky</a></li>
                <li><a class="source_a_l" href="http://github.com/genson">Gennady Tsarinny</a></li>
            </ul>
        </div>
        <div class="source_col">
            <h2>Navigation</h2>
            <ul class="source_ul">
                <li><a class="source_a_l" href="/docs">Documentation</a></li>
                <li><a class="source_a_l" href="/specs">Specs</a></li>
            </ul>
        </div>
        <div class="source_col">
            <h2>Useful links</h2>
            <ul class="source_ul">
                <li><a class="source_a_l" href="https://github.com/sourcejs/Source">Fork SourceJS on Github</a></li>
                <li><a class="source_a_l" href="http://sourcejs.com/specs/">Spec examples</a></li>
            </ul>
        </div>
        <div class="source_col source_col__23">
            <div class="source_footer_copy">
                Copyright © 2013-2015 <a href="http://sourcejs.com" class="source_a_l">Sourcejs.com</a> <span class="source_footer_version">(v.<%- engineVersion %>)</span>
            </div>
        </div>
    </div>
</footer>