//All JS and CSS are global scope!
@import "../../../00-Utilities/bootstrap/bootstrap-custom/bootstrap-variables-custom";


// list-clear and list-inline have some extra markup on top of bootstrap
.list-clear,
// double classsname to 'hack' specificity and overrule Bootstrap
.list-inline.list-inline {
  margin-left: 0;
  padding-left: 0;

  > li {
    padding-left: 0;
    padding-right: 0;

    &::before {
      display: none;
    }
  }
}

.list-vert {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;

  > * {
    display: block;

    &::before {
      display: none;
    }
  }
}

// horizontal list

.list-hor {
  @extend .list-vert;
}

// unfortunately, the element selector doesn't seem to like SASS vars... :-(
@element ".list-hor" and (min-width: #{$screen-xs}) {
  .list-hor {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    > * {
      display: inline-block;
      margin-left: 1.5em;
      margin-right: 1.5em;
    }
  }
}

.list--txtcenter {
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  > * {
    text-align: center;
  }
}

.list-spacious {
  @extend .list-clear;

  padding-bottom: .25em;

  li {
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: $padding-base/2;
    }
  }
}


.list-group {
  > li::before {
    display: none;
  }
}
