/*
* example css for documentation of body-content
*/
/*
 * custom version of Bootstrap variable definitions
*/
/*
 * themed colors based on color names as defined in frontify styleguide
*/
/*
 * color names as defined in frontify styleguide
*/
/*
 * Bootstrap variable definitions
*/
.body-content {
  padding: 25px 0;
}

.body-content h3, .body-content h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 1.57143;
  color: #484747;
}

@media screen and (min-width: 480px) {
  .body-content {
    padding: 60px 60px;
  }
}

.body-content__inner {
  max-width: 40em;
}

.body-content__inner > :last-child {
  margin-bottom: 0;
}

.source_section__open .source_example {
  padding: 0;
}
