@import "../../../00-Utilities/bootstrap/bootstrap-custom/bootstrap-variables-custom";

// variant for key content

.body-content--decorated {
  position: relative;
  overflow: hidden;

  .body-content__inner {
    position: relative;
    z-index: 1;
  }
}

.body-content__decoration {
  display: none;
  position: absolute;
  bottom: $padding-large-vertical;
  right: $padding-large-horizontal;
  height: auto;
  max-width: 140px;
  max-height: calc( 100% - #{$padding-large-vertical*2} );
  z-index: 0;

  .theme-taupe &,
  .theme-petrol &,
  .theme-gray &,
  .theme-light-blue & {
    opacity: .2;
  }

	.theme-light-taupe &{
		opacity: .4;
	}

  // makes white image light gray on very modern browsers only...
  .theme-white & {
    -webkit-filter: invert(.03);
    filter: invert(.03);
  }
}

@element ".body-content--decorated" and (min-width: #{$screen-md}) {
  .body-content__decoration {
    display: block;
  }
}
