@import "../../../00-utilities/bootstrap/bootstrap-custom/bootstrap-variables-custom";

.body-content {
  padding: $padding-base-vertical 0;

  h3, h4 {
    font-size: $font-size-h5;
    font-weight: 600;
    margin-bottom: 0;
    line-height: $line-height-base;
    color: inherit;
  }
}

.body-content__inner {

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: $screen-xs) {
  .body-content__inner > *:not(figure) {
    margin-left: $padding-base-horizontal;
    margin-right: $padding-base-horizontal;
  }
}

@media screen and (min-width: $screen-xs) {
  .body-content {
    padding: $padding-large-vertical $padding-large-horizontal;
  }

  .body-content__inner {
    max-width: 40em;
  }
}
