//All JS and CSS are global scope!
@import "../../../00-Utilities/bootstrap/bootstrap-custom/bootstrap-variables-custom";
@import "../../../00-Utilities/mixins/variants/functions";

.media-item.media-item--carouselTestimonial {
  $max-car-width:   $max-site-width;
  //$max-car-width:   800px;
  $max-pad-width:   $max-car-width/2 - $padding-large-horizontal;
	$mainTxtColor: white;

  flex-direction: column;
  //max-height: $max-site-width * .5;

  &::after {
    display: none;
  }

  .media-item__img {
    min-width: 100%;
		height: 100%;
		position: absolute;
		left:0;
		top:0;

		&::before {
			display: none;
		}

    img {
      max-height: 100%;
      width: auto;

      @media screen and (min-width: 790px) {
        height: auto;
        width: auto;
        max-height: 150%;
        max-width: 150%;
        min-height: 100%;
        min-width: 100%;
      }

      :not(.boxed) .col-sm-12 &,
      :not(.boxed) .col-md-12 &,
      :not(.boxed) .col-xs-12 & {
        @media screen and (min-width: $screen-lg) {
          max-width: 100%;
          max-height: none;
        }
      }

      .col-sm-3 &,
      .col-sm-4 &,
      .col-sm-6 & {
        @media screen and (min-width: $screen-sm) {
          max-width: none;
          max-height: 100%;
        }
      }

      .col-md-3 &,
      .col-md-4 &,
      .col-md-6 & {
        @media screen and (min-width: $screen-md) {
          max-width: none;
          max-height: 100%;
        }
      }
    }
  }

  .media-item__text {
    width: 100%;
    display: block;
    position: relative;
    color: $mainTxtColor;
    text-align: center;
    padding: ($padding-base * 2) $padding-base-horizontal ($padding-base * 1.85);
		background: transparentize($color--taupe,.45);
    overflow: visible;

    .h1 {
      color: inherit;
      font-size: 1.125em;
      margin-bottom: 0;
			text-transform: none;
			font-weight: normal;
			font-family: $font-family-serif;
			font-weight: 300;
			letter-spacing: 0.009em;
			line-height: 1.3em;
			//overflow: hidden;
			min-height: 212px;
      display: flex;
      align-items: center;
      justify-content: center;

			& span::before {
				content:'\201C';
				margin-right: .1em;
			}
			& span::after {
				content:'\201D';
				margin-left: .1em;
			}
			& span::before,
			& span::after {
				color: white;
        font-weight: normal;
			}

      @media screen and (min-width: $screen-xs) {
        font-size: 1.25em;
				min-height: 180px;
      }

      @media screen and (min-width: $screen-sm) {
        font-size: 1.25em;
				min-height: 128px;
      }

      @media screen and (min-width: em(920px)) {
        font-size: 1.625em;
				min-height: 227px;
      }

      @media screen and (min-width: $screen-lg) {
        font-size: 1.8em;
				min-height: 220px;
      }
    }

		.user-info {
			width: 100%;
			display: block;
			margin:2em 0 1.5em 0;
			font-family: $font-family-serif;
			font-weight: 300;
			height: 142px;

      .carousel--testimonial & {
        margin-bottom: 0;
      }

			.avatar {
				border-radius: 50%;
        width: 40px;
        height: 40px;
				display: inline-block;
			}

			.title,
			.subtitle,
			.txt-arrow {
				font-size: em(13px);
			}

			.title {
				font-weight: 400;
				margin: 10px 0 0 0;
			}


		}

    .txt-arrow {
      margin-top: 1.5em;
			font-family: $font-family-sans-serif;
      color: #fff;

      &::after {
        top: .8em;
      }

      &:hover,
      &:focus,
      &:active {
        color: $color--pacific-blue;
      }
    }
  }

  .media-item__text__inner {
    margin: 0 auto;
    max-width: 90%;
    min-height: 4.63em;

    @media screen and (min-width: $screen-xs) {
      //min-height: 5.1em;
    }

    @media screen and (min-width: $screen-sm) {
      max-width: 40em;
      //min-height: 5.6em;
    }

    @media screen and (min-width: $screen-md) {
      max-width: 34em;
      //min-height: 5.9em;
    }

    @media screen and (min-width: $screen-lg) {
      max-width: 40em;
      //min-height: 7.1em;
    }
  }
}

//Styling on bootstrap classes to simulate container queries
.col-sm-4 {
  .media-item.media-item--carouselTestimonial {
    .media-item__img {
      img {
        max-width:none;
      }
    }
    .media-item__text {
      .media-item__text__inner {
        max-width: 34em;
        min-height: 5.9em;
      }
      .h1 {
        font-size: 1.25em;
        height: 128px;
      }
    }
  }
}
.col-sm-6 {
  .media-item.media-item--carouselTestimonial {
    .media-item__img {
      img {
        max-width:none;
      }
    }
    .media-item__text {
      .media-item__text__inner {
        max-width: 34em;
        min-height: 5.9em;
      }
      .h1 {
        font-size: 1.25em;
        height: 128px;
      }
    }
  }
}
