//All JS and CSS are global scope!
@import "../../../00-Utilities/bootstrap/bootstrap-custom/bootstrap-variables-custom";

.media-item.media-item--carouselTestimonial {
  $max-car-width:   $max-site-width;
  //$max-car-width:   800px;
  $max-pad-width:   $max-car-width/2 - $padding-large-horizontal;
	$mainTxtColor: white;

  flex-direction: column;
  max-height: $max-site-width * .5;

  &::after {
    display: none;
  }

  .media-item__img {
    min-width: 100%;
		height: 100%;
		position: absolute;
		left:0;
		top:0;

		&::before {
			display: none;
		}

    img {
      max-height: 100%;
      width: auto;

      @media screen and (min-width: $screen-lg) {
        max-width: 100%;
        max-height: none;
        height: auto;
      }
    }
  }

  .media-item__text {
    width: 100%;
    display: block;
    position: relative;
    color: $mainTxtColor;
    text-align: center;
    padding: ($padding-base * 2) $padding-base-horizontal ($padding-base * 1.85);
		background: rgba(81,76,65,0.55);


    .media-item__text__inner {
      margin: 0 auto;
      max-width: 90%;
      min-height: 4.63em;

      @media screen and (min-width: $screen-xs) {
        min-height: 5.1em;
      }

      @media screen and (min-width: $screen-sm) {
        max-width: 40em;
        min-height: 5.6em;
      }

      @media screen and (min-width: $screen-md) {
        max-width: 34em;
        min-height: 5.9em;
      }

      @media screen and (min-width: $screen-lg) {
        max-width: 40em;
        min-height: 7.1em;
      }
    }

    .h1 {
      color: inherit;
      font-size: 1.125em;
      margin-bottom: 0;
			text-transform: none;
			font-weight: normal;
			font-family: $font-family-serif;
			font-weight: 300;
			letter-spacing: 0.009em;
			line-height: 1.3em;
			overflow: hidden;
			height: 212px;

			&:before,
			&:after {
				content:'"';
				position: relative;
				color: white;
				font-style:italic;
			}
			&:before {
				margin:0 0.1em 0 0;
			}
			&:after {
				margin-left: -0.15em;
			}

      @media screen and (min-width: $screen-xs) {
        font-size: 1.25em;
				height: 180px;
      }

      @media screen and (min-width: $screen-sm) {
        font-size: 1.25em;
				height: 128px;
      }

      @media screen and (min-width: $screen-md) {
        font-size: 1.625em;
				height: 227px;
      }

      @media screen and (min-width: $screen-lg) {
        font-size: 1.8em;
				height: 220px;
      }
    }

		.user-info {
			width: 100%;
			display: block;
			margin:2em 0 1.5em 0;
			font-family: $font-family-serif;
			font-weight: 300;
			height: 142px;

			.avatar {
				border-radius: 50%;
				display: inline-block;
			}

			.title,
			.subtitle,
			.txt-arrow {
				font-size:0.8em;
			}

			.title {
				font-weight: 400;
				margin: 10px 0 0 0;
			}


		}

    .txt-arrow {
      font-size: .875em;
      margin-top: 1.5em;
			font-family: $font-family-sans-serif;

      &::after {
        top: .8em;
      }

      &:hover,
      &:focus,
      &:active {
        color: $color--pacific-blue;
      }
    }
  }

}

//Styling on bootstrap classes to simulate container queries
.col-sm-4 {
  .media-item.media-item--carouselTestimonial {
    .media-item__img {
      img {
        max-width:none;
      }
    }
    .media-item__text {
      .media-item__text__inner {
        max-width: 34em;
        min-height: 5.9em;
      }
      .h1 {
        font-size: 1.25em;
        height: 128px;
      }
    }
  }
}
.col-sm-6 {
  .media-item.media-item--carouselTestimonial {
    .media-item__img {
      img {
        max-width:none;
      }
    }
    .media-item__text {
      .media-item__text__inner {
        max-width: 34em;
        min-height: 5.9em;
      }
      .h1 {
        font-size: 1.25em;
        height: 128px;
      }
    }
  }
}