/*
* example css for documentation of colors
*/
@import "color-theme";

.example-swatches {
  display: flex;
  flex-wrap: wrap;
}

[class*="example-swatch-"] {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  height: 75px;
  border-radius: 1.5em;
  margin: 1em 1em 4em;

  span {
    position: absolute;
    bottom: -3.5em;
    left: 0;
    display: block;
    width: 100%;
    text-align: center;
    padding: .5em;
    font-size: 12px;
    color: #000;
  }
}

.example-swatch-primary {       background: $color--primary; }
.example-swatch-secondary {     background: $color--secondary; }

.example-swatch-accent01 {      background: $color--accent-01; }
.example-swatch-accent02 {      background: $color--accent-02; }
.example-swatch-accent03 {      background: $color--accent-03; }
.example-swatch-accent04 {      background: $color--accent-04; }
.example-swatch-accent05 {      background: $color--accent-05; }
.example-swatch-support {       background: $color--support; }

.example-swatch-primary-op80 {  background: $color--primary--op80; }
.example-swatch-primary-op70 {  background: $color--primary--op70; }
.example-swatch-primary-op50 {  background: $color--primary--op50; }
.example-swatch-primary-op30 {  background: $color--primary--op30; }
.example-swatch-primary-op20 {  background: $color--primary--op20; }
.example-swatch-primary-op05 {  background: $color--primary--op05; }
.example-swatch-primary-light { background: $color--primary--light; }
