//All JS and CSS are global scope!
@import "../../../00-Utilities/bootstrap/bootstrap-custom/bootstrap-variables-custom";

.content-block {
  padding: $padding-base-vertical $padding-base-horizontal;

  .content-block__inner {
    //max-width: 40em;

    > :first-child { margin-top: 0; }
    > :last-child {  margin-bottom: 0; }
  }
}

@media screen and (min-width: $screen-xs) {
  .content-block {
    padding: $padding-large-vertical $padding-large-horizontal;
  }
}

.content-block--center {
  text-align: center;
}

.content-block--slim {
  padding: $padding-base $padding-base-horizontal;

  @media screen and (min-width: $screen-xs) {
    padding: $padding-base $padding-large-horizontal;
  }
}

.content-block--slimtop {
  padding: $padding-base $padding-base-horizontal $padding-base-vertical;

  @media screen and (min-width: $screen-xs) {
    padding: $padding-base $padding-large-horizontal $padding-large-vertical;
  }
}
