@import "../../../00-Utilities/bootstrap/bootstrap-custom/bootstrap-variables-custom";
@import "../../../00-Utilities/colors/color-names";
@import "../../body-content/variants/default";

.hero-title {
  position: relative;
  height: 144px;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    background: $gradient--hero 0 0/cover no-repeat;
    z-index: 5;
  }

  @media screen and (min-width: $screen-xs) {
    height: 164px;
  }

  img {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;

    // @media screen and (min-width: $screen-xs) {
    //   height: auto;
    //   width: 100%;
    // }
  }

  h1 {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: $padding-base-horizontal;
    right: $padding-base-horizontal;
    max-width: (40em/1.625);
    color: #fff;

    @media screen and (min-width: $screen-xs) {
      left: $padding-large-horizontal;
      right: $padding-large-horizontal;
    }
  }
}
